<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ERROR</title>
  </head>
  <body>
    <h1>An error occured processing the connection:</h1>
    <pre>
{{! note we cannot indent this as pre preserves all indent}}
{{#each error as |e|}}
{{e}}
{{/each}}
    </pre>
  </body>
</html>
